<launch>
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find ai_labs)/world/blank.world" respawn="false" output="screen" />
	<node name="lab2" pkg="ai_labs" type="lab2.py" output="screen" />
    <node name="rostopic" pkg="rostopic" type="rostopic" args="pub -1 next_waypoint geometry_msgs/Point -- '6.0' '6.0' '0.0'"/>
</launch>
